*{
    padding: 0;
    text-decoration: none;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.menu_navegacao{
    background-color: #35DE3B;
}

.div_navegacao{
    display: flex;
    margin-left: 10%;
    gap: 3%;
}

.div_navegacao_logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.paragrafo_navegacao{
    font-size: 1.3rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.lista_navegacao{
    display: flex;
    justify-content: center;
    list-style-type: none;
    background-color: #FF6100;
}

.item_navegacao{
    margin: 1%;
}

.botao_nav{
    background-color: #FF6100;
    color: #fff;
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

.botao_nav:hover {
    background-color: yellow;
    color: rgba(0, 0, 0, 0.774);
    cursor: pointer;
}

.texto_imagem_lateralmente{
    display: flex;
    justify-content: center;
    margin: 5%;
}

.botao_alinhado{
    margin-top: 20%;
    font-size: large;
}

.texto_lateralmente{
    width: 40%;
    margin-right: 5%;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    gap: 10%;
}

.div_alinhada{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h_alinhado{
    margin-bottom: 2%;
}

.imagem_alinhada{
    width: 100%;
}

.linha_meio{
    width: 60%;
    margin: auto;
    border-color: #FF6100;
}

.h_meio{
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}

.sessao_icones{
    text-align: center;
    background-color: #35DE3B;
    padding: 4%;
}

.div_icones_externa{
    background-color: #35DE3B;
    text-align: center;
    padding-top: 3%;
}

.icones{
    display: flex;
    justify-content: center;
    background-color: #35DE3B;
}

.icones_produtos_interno{
    text-align: center;
    margin-top: 3%;
    margin-right: 2%;
}

.imagem_produtos_internos{
    height: 90%;
    transition: 0.5s;
    cursor: pointer;
}

.imagem_produtos_internos:hover{
    height: 100%;
    cursor: pointer;
}

.avaliacao{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-color: #FF6100;
    background-color: white;
    border-style: solid;
    border-radius: 5%;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 2%;
    vertical-align: middle;
}

.avaliacao_paragrafo_principal{
    margin-top: 8%;
}

.avaliacao_paragrafo_secundario{
    margin-top: 3%;
}

.avaliacao_estrelas{
    margin-top: 10%;
}

/*Seção de contato - Inicio*/
.contato{
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.convite_contato{
    width: 40%;
    display: flex;
    flex-wrap:wrap;
    justify-content:right;
}

.h_contato{
    width: 75%;
}

.paragrafo_contato{
    width: 75%;
    margin-top: 5%;
    margin-bottom: 7%;
}

/*Formulário de contato*/
.formulario_contato{
    background-color:#f36f1dec;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}


select{
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
}

button:hover {
    background-color: #5bd461;
    cursor: pointer;
}


/*Aba de Contato*/
.informacoes_contato{
    width: 40%;
}

.paragrafo_informacoes_contato{
    margin-top: 1%;
    margin-bottom: 3%;
}
.prod_title
{
    display: flex;
    justify-content: center;
}
.prod_link{
    display: flex;
    background-color: #35DE3B;
    justify-content: center;
}
.iconesV
{
    display: flex;
    background-color: #35DE3B;
    justify-content: center;
}
.icones_produtos_V{
    text-align: center;
    margin: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.imagem_produtos_V{
    height: 90%;
    transition: 0.5s;
    cursor: pointer;
}

.imagem_produtos_internos:hover{
    height: 100%;
    cursor: pointer;
}
 .venda
 {
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
   
    text-align: center;
 }


.produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.produto {
    flex: 0 0 calc(30% - 30px); 
    padding: 15px;
    margin: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
    box-sizing: border-box;
}

.produto img {
    width: 40%; /* Ocupa toda a largura do contêiner */
    border-radius: 5px;
    margin-bottom: 10px;
}

.produto h3 {
    font-size: 1.1rem;
    margin-bottom: 2px;
}

.produto p {
    font-size: 1rem;
    color: #666;
}
 .formulario_contato_V{
    
        background-color:#f36f1dec;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        width: 50%;
        align-content: center;
    
 }

 .div_footer{
    display: flex;
    justify-content: space-between;
    background-color: #f38541;
    padding: 5%;
 }

 .div_footer_menu{
    width: 40%;
 }

 .div_footer_mapa{
    width: 40%;
 }

 .menu_footer{
    font-size: large;
    text-decoration: none;
    list-style: none;
 }

 .a { color: inherit; } 